/*------------Reset de Pagina-----------*/
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

.titulo {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #3e3eca;
}

.texto {
  max-width: 580px;
  font-size: 1.3rem;
  color: gray;
  text-align: center;
}

@media (min-width: 580px) {
  .texto {
    text-align: justify;
  }
}
.botones {
  width: 100px;
  height: 60px;
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  background-color: rgba(30, 30, 138, 0.795);
  border: none;
}

@media (min-width: 1300px) {
  .contenedorPrincipal {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
  }
}
.colorNombre {
  color: blueviolet;
}

.input {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.input__img {
  width: 100%;
}
.input__titulo {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

@media (min-width: 580px) {
  .input__img {
    max-width: 580px;
  }
}
.deficit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.deficit p {
  border: 3px solid rgba(255, 187, 2, 0.589);
  padding: 10px;
}

.definicion {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.definicion__titulo {
  font-size: 1.3rem;
  font-weight: bold;
  color: rgb(218, 162, 90);
}
.definicion__tips {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1rem;
  font-weight: bold;
}

@media (min-width: 1200px) {
  .deficit {
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }
  .deficit__parrafo2, .deficit__parrafo4, .deficit__parrafo6 {
    grid-column: 3/5 !important;
  }
  .deficit .botones {
    grid-column: 2/4;
  }
}
.ejerciciosContenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.ejercicios {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.ejercicios__titulos {
  font-size: 1.4rem;
  font-weight: bold;
  color: brown;
}
.ejercicios__informacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rutina {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.informacion__titulo {
  font-size: 1rem;
  font-weight: bold;
  color: chocolate;
}

.informacion__img {
  width: 100%;
  height: 200px;
  border: 1px solid grey;
  box-shadow: 1px 1px 5px grey;
}

@media (min-width: 1200px) {
  .ejerciciosContenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
  }
  .titulo {
    grid-column: 1/3;
  }
  .texto {
    grid-column: 1/3;
  }
  .ejercicios {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: repeat(2, 380px);
    column-gap: 4rem;
    row-gap: 1rem;
  }
  .ejercicios__titulos {
    grid-column: 1/3;
    text-align: center;
  }
  .rutina {
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}
.ejercicioRutina {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.diaRutina {
  margin-top: 40px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.diaRutina__titulo {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: cadetblue;
  margin-bottom: 20px;
}
.diaRutina__lista {
  width: 100%;
  margin-bottom: 40px;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  font-weight: bold;
  color: gray;
}

@media (min-width: 760px) {
  .diaRutina {
    width: 400px;
  }
}
.superavit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.superavit p {
  border: 3px solid rgba(165, 42, 42, 0.514);
  padding: 10px;
}

.volumen {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.volumen__titulo {
  font-size: 1.3rem;
  font-weight: bold;
  color: rgb(218, 162, 90);
}
.volumen__tips {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1rem;
  font-weight: bold;
}

@media (min-width: 1200px) {
  .superavit {
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }
  .superavit__parrafo2, .superavit__parrafo4, .superavit__parrafo6 {
    grid-column: 3/5;
  }
  .superavit .botones {
    grid-column: 2/4;
  }
}
.navbar-brand__img {
  width: 100px;
}
.navbar-nav {
  gap: 1rem;
}
.navbar-nav .nav-link {
  font-size: 1.3rem;
  color: black;
}
.navbar-nav .nav-link:hover {
  font-weight: bold;
}

@media (min-width: 1200px) {
  .navbar-collapse {
    justify-content: center;
  }
}
footer {
  margin-top: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2rem;
  border-top: 1px solid rgba(0, 0, 0, 0.507);
}

.redes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.3rem;
  text-align: center;
  color: black;
  font-weight: 600;
}
.redes__lista {
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 0;
}

.news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
  color: black;
  font-weight: 600;
}

@media (min-width: 768px) {
  footer {
    flex-direction: row;
    align-items: center;
  }
}

/*# sourceMappingURL=styles.css.map */
