h1{
    color: rgb(46, 185, 240);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

footer{
    text-align: center;
}

p{
    text-align: center;
    background-color: rgb(150, 20, 20);
}


