h1{
    color: rgb(46, 185, 240);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

footer{
    text-align: center;
}

p{
    text-align: center;
    background-color: rgb(150, 20, 20);
}



.headercss{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  .button1{
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
   
}

button{
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px black solid;
    font-size: 15px;
}

